.claim-item {
  margin: 1rem 0;
  display: block;
  border: 1px solid #FF5715;
}

.claim-item__content {
  padding: 0;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.claim-item__info {
  padding: 0;
  margin: 0 0 0 33%;
  
  text-align: center;
  color: #FF5715;
}

.claim-item__info h2,
.claim-item__info h3,
.claim-item__info p {
  margin: 0 0 0.5rem 0;
}

.claim-item__actions {
  padding: 0;
  text-align: center;
}

.claim-item__modal-content {
  padding: 0;
}

.claim-item__modal-actions {
  text-align: right;
}

.claim-item__actions button,
.claim-item__actions a {
  margin: 0.5rem;
}

.claim-item__button {
  background-color: white;
  border: 0;
}

.claim-item__button:hover{
  cursor: pointer;
}