.member-list-display {
  margin: 0;
  padding: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}
.member-list-items {
  list-style: none;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
