.authentication__header {
  color: white;
  text-align: center;
}

.authentication__logo{
  width: 90%;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.noshow{
  display: none;
}

a {
text-decoration: none;
color:#ff5715;
}