.authentication__logo{
  width: 100%;
}

.authentication {
  width: 100%;
  max-width: 25rem;
  text-align: center;
  background: #ffffff;
  box-shadow: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
}


.authentication form {
  margin-bottom: 1rem;
}

.black-link {
  color: black;
  font-weight: bold;
}

.auth-page {
  background-color: white;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}

.center-text {
  text-align: center;
  width: 90%;
}

.error_modal-actions {
  text-align: right;
 
}
.error_modal-actions *{
  margin: 0 1rem;
 
}
.error {
  color: red;
}




