.myprofile-page {
    height: 100%; /* Asegúrate de que ocupe toda la altura de la pantalla */
    width: 100vw; /* Asegúrate de que ocupe toda la anchura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
 
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    width: 90%;
    height: 95%;
    max-height: 40rem;
    text-align: center;
    background-color: white;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  
  .profile form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .profile .section {
    width: 100%;
    margin: 2rem;
  }
  
  .profile p {
    text-align: center;
    align-self: center;
  }
  
  .profile .split {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .profile div {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .split > *:first-child {
    margin-right: 1rem;
  }
  
  .button {
    margin-top: 0.5rem;
  }
  
  a {
    text-decoration: none;
    color: #ff5715;
  }
  
  p {
    font-weight: bold;
  }
  
  .intro {
    align-self: center;
    text-align: center;
    width: 100%;
  }
  
  .titleContainer {
    width: 90%;
  }
  
  .error {
    color: red;
  }
  
  .button {
    margin-left: 0;
    margin-right: 0;
  }
  