.registration__header {
  color: white;
  text-align: center;
}

.registration__logo {
  width: 100%;
}

.registration-page {
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la pantalla */
  width: 100vw; /* Asegúrate de que ocupe toda la anchura de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  text-align: center;
  background-color: white;
  box-shadow: none;
  justify-content: center;
  align-items: center;
}

.registration form {
 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.registration .section {
  width: 100%;
  margin: 2rem;
}

.registration p {
  text-align: center;
  align-self: center;
}

.registration .split {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.registration div{
  width: 100%;
  margin: 0;
  padding: 0;
}



.split > *:first-child {
  margin-right: 1rem;
} 

.button{
  margin-top: 0.5rem;
}

a {
  
  text-decoration: none;
  color: #ff5715;
}

p {
  font-weight: bold;
}

.intro {
  align-self: center;
  text-align: center;
  width: 100%;
}

.titleContainer {
  width: 90%;
}

.error {
  color: red;
}