.form-control {
  margin: 1rem 5%;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  color: #666666
 }

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;  
  font: inherit;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  background: #ffffff;
  padding: .6rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ffffff;
  border-color: #156fff;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}