
.main-navigation__menu-btn {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 2rem;
  height: 4px;
  background: #156fff;
}

.main-navigation__logo{  
  display: flex;
  width: 10rem;
}

.main-navigation__title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}


.main-navigation__title a {
  text-decoration: none;
  color: #000000;
}

.main-navigation__left{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  
}


.main-navigation__drawer-nav {
  height: 100%;
}

.not_logged{
  visibility: hidden;
}
