.questions-page {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}


.questions-table {
  margin: 0 auto;
  padding: 1rem;
  width: 70%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  table-layout: auto;
  background: white;
  align-items: center;
  border-collapse: separate;

}

.table-container {
  max-height: 80vh; /* Ajusta este valor según tus necesidades */
  width: 100%;
  overflow-y: auto;
  align-items: center;
  margin-top: auto;
  
}

thead {
    background-color: #156fff;
    color: white;   
    height: 30px;
}


th.question-column,td.question-column{
    padding-left: 10px;
    width: 90%;
}
thead th.toggle-column, td.toggle-column{
    width: 10%;
    text-align: center;
    
}

tr{
    font-weight: bold;
    width: 100%;
    height: 70px;
}

tr:nth-child(2n) {
    background-color: #EBF3FF; /* blue */
  }
  
  tr:nth-child(2n+1) {
    background-color: #FFFFFF; /* white */
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #FF5715;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF5715;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.full_description_text{
font-weight: normal;
}

/* AnswerQuestions.css */
.questions_actions {
  display: flex;
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center; /* Centrar los elementos verticalmente */
  gap: 1rem; /* Añadir espacio entre los elementos */
  padding: 2rem;
  flex-direction: row; /* Asegura que los elementos estén en una fila */
}

.questions_actions button {
  margin: 0 15rem; /* Añadir margen a los botones para mayor separación */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}