.receipt__header {
    color: white;
    text-align: center;
  }

  .receipt-page {
    width: 100vw;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
  }
  
 .receipt {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 7rem auto;
    text-align: center;
    align-items: center;
    background: #ffffff;
    box-shadow: none;
  }
  
  .receipt table {
    margin-bottom: 1rem;
  }

  .receipt h1{
    font-size: 4rem;
    background: radial-gradient(50% 50% at 50% 50%, #00FF38 0%, rgba(255, 255, 255, 0) 100%);
    ;
  }

 .receipt h1, .receipt h3 {
    margin: 1%;
    padding: 0%;
 } 

 .receipt-button{
    font: inherit;
    padding: 0.5rem 3rem;
    margin: 0.5rem;
    width: max-content;    
    border-radius: 4px; 
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
  }

 .filled-white{
    background: white;
    align-self: flex-start;
    color: #156fff;
    border: 2px solid #156fff;
  }
  
  
  
 
  .receipt-data{
    margin: 2%;
    border-radius: 15px;
    table-layout:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .receipt-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }


  .receipt-data table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .receipt-data th, .receipt-data td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Líneas divisorias suaves */
    text-transform: capitalize;
  }
  
  .receipt-data th {
    background-color: #f4f4f4; /* Fondo claro para los encabezados */
    color: #333; /* Color de texto oscuro */
    font-weight: bold;
  }
  
  .receipt-data td {
    background-color: white;
    color: #666; /* Color de texto más claro */
  }
  
  .receipt-data tr:nth-child(even) {
    background-color: #f9f9f9; /* Fondo alternativo para las filas */
  }
  
  .receipt-total {
    width: 100%;
    margin: 2% auto;
    padding: 1%;
    margin-left: auto; /* Asegura que se mantenga a la derecha */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir una sombra suave */
}

  
  .receipt-total div {
    border-bottom: 2px solid #666;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .receipt-total div * {
    margin: 0;
  }

  .receipt-action__button {
    background-color: white;
    border: none;
  }
  
  .receipt-action__button:hover{
    cursor: pointer;
  }